body{
    font-family: Georgia;
    margin: auto;
}

.header{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

.main{
    background-color: lightblue;
    padding: 100px;
}

.footer{
    display: flex;
}

.left{
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
}

.middle, .right {
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
}

#odnosnik{
    border: dashed 1px dimgray;
    background-color: gold;
    color: darkred;
    padding: 10px;
}